body {
   font-family: Arial, sans-serif;
}

#container {
   width: 80%;
   margin: auto;
   text-align: center;
}

#chart {
   display: inline-block;
   position: relative;
}

.dot {
   fill: steelblue;
}

.tooltip {
   position: absolute;
   background-color: white;
   border: 1px solid black;
   padding: 5px;
   pointer-events: none;
}

#x-axis path, #y-axis path {
   display: none;
}

.tick line {
   stroke: #ccc;
}

#legend {
   text-align: left;
   margin-top: 20px;
}
