<!DOCTYPE html>
<html lang="en">
<head>
   <title>Web</title>
   <style>
   body{
      background-color: green;
      color: white;
      text-align: center;
   }
   input {
      margin: 20px;
   }
   </style>
</head>

<body>   
      <h3><b><u>Login Form</u></b></></h3>
   <form action="">
      <label>Username: </label>
      <input type="text"name="Username"required>
      <br>
      <label>Password: </label>
      <input type="password"name="password"required>
      <br>
      <button value="submit" onclick="alert('hello ferdinand')">Submit</button>
   </form>
</body>
</html>