body {
   font-family: Arial, sans-serif;
}

#container {
   width: 80%;
   margin: auto;
   text-align: center;
}

#chart {
   display: inline-block;
   position: relative;
}

.tile {
   stroke: #fff;
   stroke-width: 1px;
}

.tooltip {
   position: absolute;
   background-color: white;
   border: 1px solid black;
   padding: 5px;
   pointer-events: none;
}

#legend {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.legend-item {
   display: flex;
   align-items: center;
   margin: 0 10px;
}

.legend-item rect {
   margin-right: 5px;
}
